*.acn.gpg
*.acr.gpg
*.alg.gpg
*.aux.gpg
*.bbl.gpg
*.blg.gpg
*.brf.gpg
*.dvi.gpg
*.fdb_latexmk.gpg
*.glg.gpg
*.glo.gpg
*.gls.gpg
*.idx.gpg
*.ilg.gpg
*.ind.gpg
*.ist.gpg
*.lof.gpg
*.log.gpg
*.lot.gpg
*.maf.gpg
*.mtc.gpg
*.mtc0.gpg
*.nav.gpg
*.nlo.gpg
*.out.gpg
*.pdfsync.gpg
*.ps.gpg
*.snm.gpg
*.synctex.gz*.gpg
*.toc.gpg
*.vrb.gpg
*.xdy.gpg
*.tdo.gpg
*blx.bib.gpg
*.fls.gpg
*.bcf.gpg
*.run.xml.gpg

*.acn*
*.lol*
*.acr*
*.alg*
*.aux*
*.bbl*
*.blg*
*.brf*
*.dvi*
*.fdb_latexmk*
*.glg*
*.glo*
*.gls*
*.idx*
*.ilg*
*.ind*
*.ist*
*.lof*
*.log*
*.lot*
*.maf*
*.mtc*
*.mtc0*
*.nav*
*.nlo*
*.out*
*.pdfsync*
*.ps*
*.snm*
*.synctex.gz*
*.toc*
*.vrb*
*.xdy*
*.tdo*
*blx.bib*
*.fls*
*.equ*
*.loe*

#dia
*.dia~*

*.swp*
*.swo*
*latexmain*

comment.cut*
.ropeproject*

*.pyg*
*.pygtex*
_minted*


*.~*

tags*
tags.*

*.run.xml*
*.bcf*
